.album-art-img {
    max-width: 100%;
}

.clickable {
    cursor: pointer;
}

.no-art-set {
    background-color: rgb(128, 128, 128);
    width: 100%;
    padding-bottom: 100%;
}

.release-container {
    border-radius: 10px;
    /*overflow: hidden;*/
    position: relative;
}

.img-edge-curve {
    border-radius: 10px;
}

.release-info-sliding-box {
    color: rgba(0, 0, 0, 70%);
    background-color: rgba(0, 0, 0, 5%);
    padding: 2px 15px;
    top: 0;
    bottom: auto;
    transition: height 500ms ease-in-out;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -15;
    width: 100%;
    height: 100%;
}

.release-info-aligner {
    position: absolute;
    bottom: 0;
}

.album-art-img:hover + .release-info-sliding-box {
    height: 150%;
}

.info-line {
    line-height: 1.1;
    margin: 6px 0;
}

.release-name {
    padding-bottom: 5px;
}