.album-art-img {
    max-width: 100%;
}

.clickable {
    cursor: pointer;
}

.no-art-set {
    background-color: rgb(128, 128, 128);
    width: 100%;
    padding-bottom: 100%;
}

.release-container {
    border-radius: 10px;
    position: relative;
}

.img-edge-curve {
    border-radius: 10px;
}

.release-info-sliding-box {
    color: rgba(0, 0, 0, 70%);
    background-color: rgba(0, 0, 0, 5%);
    top: 0;
    transition: height 400ms ease-in-out;
    position: absolute;
    border-radius: 0 0 10px 10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.release-info-aligner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.info-line {
    line-height: 1.1;
    width: 100%;
    overflow-wrap: break-word;
    padding: 5px 0;
    margin: 0;
}

.release-name {
    padding-bottom: 5px;
}