.fr-release-container {
    display: inline-block;
    background-color: rgba(0, 0, 0, 3%);
    border-radius: 10px;
}

.fr-image-container {
    border-radius: 10px;
}

.fr-release-info {
    color: rgba(0, 0, 0, 70%);
    padding: 10px 15px;
}

.fr-info-line {
    margin: 0;
}